<!doctype html>
<html lang="en">
    <head>
        <title>Albums</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <div class ="container-fluid p-0">
    <div class ="backgrounds">
        <div class= "background"> </div>
    </div>
</div>
</div>
<body >
        <header>   
            <div class="headerClass">
                <div class="weekndText" > <a href="#">The Weeknd</a></div>
                <ul>
                    <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/albums">Albums</a>
                    </li>
                    <li >
                    <a href="/forums">Chat</a>
                    </li>
                    <li>
                    <a href="/forums">Reach Out</a>
                    </li>
                </ul>
            </div>
        </header>

    <div class = "albumContentContainerBlack">
        <div class="albumWrapper">
            <div class="albumRow">
                <div class="column1">
                    <div class="albumTextWrapper">
                        <p class="albumName">Trilogy</p>
                        <img class="imageDesign" src="/images/<%= coverPhoto[0] %>" alt="Trilogy Album">
                        <div class="buttonWrapper">
                            <a href="<%= apple[0] %>"><button class="buttonStyle">AppleMusic Preview</button></a>
                            <a href="<%= spotify[0] %>"><button class="buttonStyle">Spotify Preview</button></a>
                        </div>
                    </div>
                </div>
                <div class="column2"><%=summary[0] %> </div>
            </div>    
        </div>
    </div>
    
    <div class = "albumContentContainerWhite">
        <div class="albumWrapper">
            <div class="albumRow">
                <div class="column2">
                    <div class="albumTextWrapper">
                        <p class="albumName">Beauty Behind The Madness</p>
                        <img class="imageDesign" src="/images/<%= coverPhoto[1] %>" alt="Beauty Behind the Madness      Albumn cover art">
                        <div class="buttonWrapper">
                            <a href="<%= apple[1] %>"><button class="buttonStyle">AppleMusic Preview</button></a>
                            <a href="<%= spotify[1] %>"><button class="buttonStyle">Spotify Preview</button></a>
                        </div>
                    </div>
                </div>
                <div class="column3"><%=summary[1] %> </div>
            </div>    
        </div>
    </div>

    <div class = "albumContentContainerBlack">
        <div class="albumWrapper">
            <div class="albumRow">
                <div class="column3">
                    <div class="albumTextWrapper">
                        <p class="albumName">Starboy</p>
                        <img class="imageDesign" src="/images/<%= coverPhoto[2] %>" alt="StarBoy Album Cover">
                        <div class="buttonWrapper">
                            <a href="<%= apple[2] %>"><button class="buttonStyle">AppleMusic Preview</button></a>
                            <a href="<%= spotify[2] %>"><button class="buttonStyle">Spotify Preview</button></a>
                        </div>
                    </div>
                </div>
<div class="column2"><%=summary[2] %> </div>
            </div>    
        </div>
    </div>

    <div class = "col-2">
        <h1>Album Name</h1>
    </div>
    <div class = "col-1">
        <h1>Peak Billboard position</h1>
    </div>
    <div class="col-5 d-flex justify-content-center">
        <h2> Summary</h2>
    </div>
    <div class = "col-4 d-flex justify-content-start">
        <h1>Tracklisting</h1>
    </div>

    <div class="hidden">   
    </div>
    <div class="row justify-content-start">
        <div class = "col-2 cursive">
            <span><%= nameOfAlbum[0] %> </span>
        </div>
        <div class = "col-1 cursive">
            <span> <%=peakPosition[0] %> </span>
        </div>
        <div class="col-4 ">
            <span style="font-size: 30px;"> <%=summary[0] %> </span>
        </div>
        <div class = "col-3">
            <p style="font-size: medium;" class = "yellow"> <%= tracks[0] %>` </p>
        </div>
        <div class="col-2">
            <img src="/images/<%= coverPhoto[0]  %>" alt="">
        </div>
    </div>
    <div class = "col-12">
        <div class="hidden">   
        </div>
    </div>
    <div class="row justify-content-start">
        <div class = "col-2 cursive">
            <span><%= nameOfAlbum[1] %> </span>
        </div>
        <div class = "col-1 cursive">
            <span> <%=peakPosition[1] %> </span>
        </div>
        <div class="col-4">
            <span style="font-size: 30px;"> <%=summary[1] %> </span>
        </div>
        <div class = "col-3">
            <p style="font-size: medium;" class = "yellow"> <%= tracks[1] %> </p>
        </div>
        <div class="col-2 ">
            <img src="/images/<%= coverPhoto[1] %>"  style="height: 300px"alt="weeknd">
        </div>
    </div>
    <div class="hidden">   
    </div>
    <div class="row justify-content-start">
        <div class = "col-2 cursive">
            <span><%= nameOfAlbum[2] %> </span>
        </div>
        <div class = "col-1 cursive">
            <span> <%=peakPosition[2] %> </span>
        </div>
        <div class="col-4 ">
            <span style="font-size: 30px;"> <%=summary[2] %> </span>
        </div>
        <div class = "col-3">
            <p style="font-size: medium;" class = "yellow"> <%= tracks[2] %> </p>
        </div>
        <div class="col-2">
            <img src="/images/<%= coverPhoto[2] %>" style="height: 300px" alt="">
        </div>
    </div>
    <div class="hidden">   
    </div>
    <div class="row justify-content-center">
        <div class = "col-2 cursive">
            <span><%= nameOfAlbum[3] %> </span>
        </div>
        <div class = "col-1 cursive">
            <span> <%=peakPosition[3] %> </span>
        </div>
        <div class="col-4">
            <span style="font-size: 27px;"> <%=summary[3] %> </span>
        </div>
        <div class = "col-3">
            <p style="font-size: medium;" class = "yellow"> <%= tracks[3] %> </p>
        </div>
        <div class="col-2">
            <img src="/images/<%= coverPhoto[3] %>" style="height:225px" alt="">
        </div>
    </div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>