<!doctype html>
<html lang="en">
    <head>
        <title>Albums</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
</div>
<body >
        <header>   
            <div class="headerClass">
                <div class="weekndText" > <a href="#">The Weeknd</a></div>
                <ul>
                    <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/albums">Albums</a>
                    </li>
                    <li >
                    <a href="/forums">Chat</a>
                    </li>
                    <li>
                    <a href="/forums">Reach Out</a>
                    </li>
                </ul>
            </div>
        </header>

    <div class = "albumContentContainerBlack">
        <div class="albumWrapper">
            <div class="albumRow">
                <div class="column1">
                    <div class="albumTextWrapper">
                        <p class="albumName">Trilogy</p>
                        <img class="imageDesign" src="/images/<%= coverPhoto[0] %>" alt="Trilogy Album">
                        <div class="buttonWrapper">
                            <a href="<%= apple[0] %>"><button class="buttonStyle">AppleMusic Preview</button></a>
                            <a href="<%= spotify[0] %>"><button class="buttonStyle">Spotify Preview</button></a>
                        </div>
                    </div>
                </div>
                <div class="column2"><%=summary[0] %> </div>
            </div>    
        </div>
    </div>
    
    <div class = "albumContentContainerWhite">
        <div class="albumWrapper">
            <div class="albumRow">
                <div class="column2">
                    <div class="albumTextWrapper">
                        <p class="albumName">Beauty Behind The Madness</p>
                        <img class="imageDesign" src="/images/<%= coverPhoto[1] %>" alt="Beauty Behind the Madness      Albumn cover art">
                        <div class="buttonWrapper">
                            <a href="<%= apple[1] %>"><button class="buttonStyle">AppleMusic Preview</button></a>
                            <a href="<%= spotify[1] %>"><button class="buttonStyle">Spotify Preview</button></a>
                        </div>
                    </div>
                </div>
                <div class="column3"><%=summary[1] %> </div>
            </div>    
        </div>
    </div>

    <div class = "albumContentContainerBlack">
        <div class="albumWrapper">
            <div class="albumRow">
                <div class="column3">
                    <div class="albumTextWrapper">
                        <p class="albumName">Starboy</p>
                        <img class="imageDesign" src="/images/<%= coverPhoto[2] %>" alt="StarBoy Album Cover">
                        <div class="buttonWrapper">
                            <a href="<%= apple[2] %>"><button class="buttonStyle">AppleMusic Preview</button></a>
                            <a href="<%= spotify[2] %>"><button class="buttonStyle">Spotify Preview</button></a>
                        </div>
                    </div>
                </div>
<div class="column2"><%=summary[2] %> </div>
            </div>    
        </div>
    </div>

    <div class = "albumContentContainerWhite">
        <div class="albumWrapper">
            <div class="albumRow">
                <div class="column2">
                    <div class="albumTextWrapper">
                        <p class="albumName">After Hours</p>
                        <img class="imageDesign" src="/images/<%= coverPhoto[3] %>" alt="AfterHours Albumn cover art">
                        <div class="buttonWrapper">
                            <a href="<%= apple[3] %>"><button class="buttonStyle">AppleMusic Preview</button></a>
                            <a href="<%= spotify[3] %>"><button class="buttonStyle">Spotify Preview</button></a>
                        </div>
                    </div>
                </div>
                <div class="column1"><%=summary[3] %> </div>
            </div>    
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>